.calculator {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 50vh auto 0;
    padding: 1px;
    transform: translateY(-50%);
}

.calculator__screen {
    min-height: 40px;
    width: 270px;
    font-size: 30px;
    text-align: end;
}

.calculator__button {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
